<footer>
	<div class="f-info">
		<div class="f-info-socials">
			<a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
			<a href="https://www.instagram.com/timil_vaishnav/"><i class="fa-brands fa-square-instagram"></i></a>
			<!-- <i class="fa-brands fa-square-twitter"></i> -->
			<a href="https://www.linkedin.com/in/timil-vaishnav-4b379128a/"><i class="fa-brands fa-linkedin"></i></a>
		</div>
		<div class="f-info-brand">&copy; Wanderlust Private Limited</div>
		<div class="f-info-links">
			<a href="/privacy">Privacy Policy</a> &nbsp;|&nbsp;
			<a href="/terms">Terms & Conditions</a>
		</div>
	</div>
	
</footer>