.hero-section {
	background-color: white;
	min-height: 70vh;
	display: flex;
	align-items: center;
}

.text-gradient {
	background: linear-gradient(90deg, #3b82f6, #10b981);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.max-w-700 {
	max-width: 700px;
}

.rounded-pill {
	transition: all 0.3s ease;
}

.btn-primary:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 15px rgba(59, 130, 246, 0.3);
}

.btn-success:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 15px rgba(16, 185, 129, 0.3);
}

.login-box {
	max-width: 500px;
	margin: 30px auto;
	background-color: #f8f9fa;
	/* Light gray background */
	border: 1px solid #dee2e6;
	/* Light border */
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	/* Soft shadow */
}

@media (max-width: 998px) {
	.homeLoginBox {
		width: 100%;
	}
}