.search-btn {
	background: #fe424d;
	color: #fff;
	border-radius: 25px;
	padding: 0 1rem;
}

.search-btn:hover {
	background: #fe424d;
	color: #fff;
}

.search-btn i {
	display: inline;
	margin-right: 0.5rem;
}

.search-inp {
	border-radius: 25px;
	padding: 0.5rem 3rem;
}
.tax-toggle{
	border: 1px solid black;
	border-radius: 1rem;
	height: 3.25rem;
	padding: 1rem;
	margin-left: 2rem;
	display: flex;
	align-items: center;
}
.tax-info{
	display: none;
}